{% extends 'layouts/default.html' %}

{% block page_title %}Linked - Domains{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<!-- Deafult Table -->
<div class="block-area" id="defaultStyle">
    <h3 class="block-title">Default Style</h3>
    <table class="table tile">
        <thead>
            <tr>
                <th>No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jhon </td>
                <td>Makinton </td>
                <td>@makinton</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Malinda</td>
                <td>Hollaway</td>
                <td>@hollway</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Wayn</td>
                <td>Parnel</td>
                <td>@wayne123</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Responsive Table -->
<div class="block-area" id="responsiveTable">
    <h3 class="block-title">Responsive Table</h3>
    <div class="table-responsive overflow">
        <table class="table tile">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                    <td>123@makinton</td>
                    <td>mak@live.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                    <td>hollaway@mal</td>
                    <td>holla@asianet.ch</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                    <td>wayn@3rt</td>
                    <td>wayne-parn@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bordered -->
<div class="block-area" id="tableBordered">
    <h3 class="block-title">Table Bordered</h3>
    <div class="table-responsive overflow">
        <table class="table table-bordered tile">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<!-- Table Hover -->
<div class="block-area" id="tableHover">
    <h3 class="block-title">Table with Hover Style</h3>
    <div class="table-responsive overflow">
        <table class="table table-bordered table-hover tile">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Table Condensed -->
<div class="block-area" id="tableCondensed">
    <h3 class="block-title">Table Condensed</h3>
    <div class="table-responsive overflow">
        <table class="table tile table-condensed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Table Striped -->
<div class="block-area" id="tableStriped">
    <h3 class="block-title">Table Striped</h3>
    <div class="table-responsive overflow">
        <table class="tile table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon </td>
                    <td>Makinton </td>
                    <td>@makinton</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Malinda</td>
                    <td>Hollaway</td>
                    <td>@hollway</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wayn</td>
                    <td>Parnel</td>
                    <td>@wayne123</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>TB - Monthly</td>
                    <td>05/04/2012</td>
                    <td>Call in to confirm</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>TB - Monthly</td>
                    <td>06/04/2012</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>TB - Monthly</td>
                    <td>07/04/2012</td>
                    <td>Call in to confirm</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>TB - Monthly</td>
                    <td>08/04/2012</td>
                    <td>Call in to confirm</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>TB - Monthly</td>
                    <td>09/04/2012</td>
                    <td>Call in to confirm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block effects %}
{% endblock %}

{% block plugins %}
        <!-- BackBone.js -->
        <script src="/kimino/cdn/backbone-forms.js"></script>
        <script src="/kimino/cdn/jquery-ui-editors.js"></script>
{% endblock %}

{% block app_codes %}
        <script type="text/javascript">
$(document).ready(function () {
    var User = Backbone.Model.extend({
        schema: {
            email:      { dataType: 'email', validators: ['required', validateEmail] },
            start:      { type: 'DateTime' },
            contact:    { type: 'Object', subSchema: {
                            name: {},
                            phone: {}
                        }}
            address:    { type: 'NestedModel', model: Address },
            notes:      { type: 'List' }
        }
    });

    var Model = Backbone.DeepModel.extend({
        schema: {
            title: {},
            author: { type: 'Object', subSchema: {
                id: { type: 'Number' },
                name: { type: 'Object', subSchema: {
                    first: {},
                    last: {}
                }}
            }}
        }
    });
    
    var form = new Backbone.Form({
        model: new Model,
        fields: ['title', 'author.id', 'author.name.last']
    }).render();

    var Territory = Backbone.Model.extend({});

    var Territories = Backbone.Collection.extend({
        model: Territory,
        url: "examples/territories.json"
    });

    var territories = new Territories();

    // Fetch some countries from the url
    territories.fetch();

    // Column definitions
    var columns = [{
        name: "id", // The key of the model attribute
        label: "ID", // The name to display in the header
        editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
        // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
        cell: Backgrid.IntegerCell.extend({
            orderSeparator: ''
        })
    }, {
        name: "name",
        label: "Name",
        // The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
        cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
    }, {
        name: "pop",
        label: "Population",
        cell: "integer" // An integer cell is a number cell that displays humanized integers
    }, {
        name: "percentage",
        label: "% of World Population",
        cell: "number" // A cell type for floating point value, defaults to have a precision 2 decimal numbers
    }, {
        name: "date",
        label: "Date",
        cell: "date",
    }, {
        name: "url",
        label: "URL",
        cell: "uri" // Renders the value in an HTML <a> element
    }];

    // Initialize a new Grid instance
    var grid = new Backgrid.Grid({
        columns: columns,
        collection: territories,
    });

    // Render the grid and attach the Grid's root to your HTML document
    $("#example-1-result").append(grid.render().el);
});
        </script>
{% endblock %}

{% block app_design %}
{% endblock %}

{% block app_style %}
        <link href="backbone-forms/backbone-forms.css" rel="stylesheet" type="text/css"/> 
{% endblock %}

