.elfinder-dialog-resize {
	margin-top: .3em;
}

.elfinder-resize-type {
	float: left;
	margin-bottom: .4em;
}

.elfinder-resize-control {
	padding-top: 3em;
}

.elfinder-resize-control input[type=text] {
	border: 1px solid #aaa;
	text-align: right;
}

.elfinder-resize-preview {
	width: 400px;
	height: 400px;
	padding: 10px;
	background: #fff;
	border: 1px solid #aaa;
	float: right;
	position: relative;
	overflow: auto;
}

.elfinder-resize-handle {
	position: relative;
}

.elfinder-resize-handle-hline {
	width: 100%;
	height: 1px!important;
	background-repeat: repeat-x;
}

.elfinder-resize-handle-vline {
	width: 1px!important;
	height: 100%;
	background-repeat: repeat-y;
}

.elfinder-resize-handle-hline-top {
	top: 0;
	left: 0;
}

.elfinder-resize-handle-hline-bottom {
	bottom: 0;
	left: 0;
}

.elfinder-resize-handle-vline-left {
	top: 0;
	left: 0;
}

.elfinder-resize-handle-vline-right {
	top: 0;
	right: 0;
}

.elfinder-resize-handle-point {
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid #777;
	background: 0 0;
}

.elfinder-resize-handle-point-n {
	top: 0;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
}

.elfinder-resize-handle-point-ne {
	top: 0;
	right: 0;
	margin-top: -5px;
	margin-right: -5px;
}

.elfinder-resize-handle-point-e {
	top: 50%;
	right: 0;
	margin-top: -5px;
	margin-right: -5px;
}

.elfinder-resize-handle-point-se {
	bottom: 0;
	right: 0;
	margin-bottom: -5px;
	margin-right: -5px;
}

.elfinder-resize-handle-point-s {
	bottom: 0;
	left: 50%;
	margin-bottom: -5px;
	margin-left: -5px;
}

.elfinder-resize-handle-point-sw {
	bottom: 0;
	left: 0;
	margin-bottom: -5px;
	margin-left: -5px;
}

.elfinder-resize-handle-point-w {
	top: 50%;
	left: 0;
	margin-top: -5px;
	margin-left: -5px;
}

.elfinder-resize-handle-point-nw {
	top: 0;
	left: 0;
	margin-top: -5px;
	margin-left: -5px;
}

.elfinder-resize-spinner {
	position: absolute;
	width: 200px;
	height: 30px;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	background: url(../img/filemanager/progress.html) center bottom repeat-x;
}

.elfinder-resize-row {
	margin-bottom: 7px;
	position: relative;
}

.elfinder-resize-label {
	float: left;
	width: 80px;
	padding-top: 3px;
}

.elfinder-resize-reset {
	width: 16px;
	height: 16px;
	position: absolute;
	margin-top: -8px;
}

.elfinder-dialog .elfinder-dialog-resize .ui-resizable-e {
	height: 100%;
	width: 10px;
}

.elfinder-dialog .elfinder-dialog-resize .ui-resizable-s {
	width: 100%;
	height: 10px;
}

.elfinder-dialog .elfinder-dialog-resize .ui-resizable-se {
	background: 0 0;
	bottom: 0;
	right: 0;
	margin-right: -7px;
	margin-bottom: -7px;
}

.elfinder-dialog-resize .ui-icon-grip-solid-vertical {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
	margin-right: -11px;
}

.elfinder-dialog-resize .ui-icon-grip-solid-horizontal {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -8px;
	margin-bottom: -11px;
}

.elfinder-resize-row .elfinder-buttonset {
	float: right;
}

.elfinder-resize-rotate-slider {
	float: left;
	width: 195px;
	margin: 7px 7px 0;
}

.elfinder-file-edit {
	width: 99%;
	height: 99%;
	margin: 0;
	padding: 2px;
	border: 1px solid #ccc;
}

.elfinder-help {
	margin-bottom: .5em;
}

.elfinder-help .ui-tabs-panel {
	padding: .5em;
}

.elfinder-dialog .ui-tabs .ui-tabs-nav li a {
	padding: .2em 1em;
}

.elfinder-help-shortcuts {
	height: 300px;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

.elfinder-help-shortcut {
	white-space: nowrap;
	clear: both;
}

.elfinder-help-shortcut-pattern {
	float: left;
	width: 160px;
}

.elfinder-help h3 {
	margin: .2em 0 .3em;
}

.elfinder-help-separator {
	clear: both;
	padding: .5em;
}

.elfinder-help-link {
	padding: 2px;
}


.elfinder-help .ui-priority-primary {
	margin-bottom: 7px;
}

.elfinder-help-team {
	clear: both;
	text-align: right;
	border-bottom: 1px solid #ccc;
	margin: .5em 0;
}

.elfinder-help-team div {
	float: left;
}

.elfinder-help-disabled {
	font-weight: 700;
	text-align: center;
	margin: 90px 0;
}

.elfinder-help .elfinder-dont-panic {
	display: block;
	border: 1px solid transparent;
	width: 200px;
	height: 200px;
	margin: 30px auto;
	text-decoration: none;
	text-align: center;
	position: relative;
	background: #d90004;
	background: -moz-radial-gradient(80px 80px,circle farthest-corner,#d90004 35%,#960004 100%);
	background: -webkit-gradient(radial,80 80,60,80 80,120,from(#d90004),to(#960004));
	outline: none;
}

.elfinder-help .elfinder-dont-panic span {
	font-weight: 700;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 0;
	top: 45px;
}

.elfinder {
	padding: 0;
	position: relative;
	display: block;
}


.elfinder-workzone {
	padding: 0;
	position: relative;
	overflow: hidden;
}

.elfinder-drag-helper {
	width: 60px;
	height: 50px;
	padding: 0 0 0 25px;
	z-index: 100000;
}

.elfinder-drag-helper-plus .elfinder-drag-helper-icon-plus {
	display: block;
}

.elfinder-drag-num {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;;
	text-align: center;
	padding-top: 2px;
	font-weight: 700;
	color: #fff;
	font-size: 10px;
	background-color: red;
}

.elfinder-drag-helper .elfinder-cwd-icon {
	margin: 0 0 0 -24px;
	float: left;
}

.elfinder-overlay {
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.elfinder .elfinder-panel {
	position: relative;
	background-image: none;
	padding: 7px 12px;
}

.elfinder-contextmenu,.elfinder-contextmenu-sub {
	display: none;
	position: absolute;
	color: #333;
}

.elfinder-contextmenu-sub {
	top: 5px;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-sub {
	margin-left: -5px;
}


.elfinder-contextmenu-item {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;
}

.elfinder-contextmenu .elfinder-contextmenu-item span {
	display: block;
	color: #000;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-item {
	text-align: left;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-sub .elfinder-contextmenu-item {
	padding-left: 12px;
}

.elfinder-contextmenu-arrow,.elfinder-contextmenu-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-icon {
	display: none !important;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-arrow {
	right: 5px;
}

.elfinder-contextmenu .ui-state-hover {
	border: 0 solid;
	background-image: none;
}

.elfinder-contextmenu-separator {
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	margin: 0 1px;
}

.elfinder-cwd-wrapper {
	overflow: auto;
	position: relative;
	padding: 2px;
	padding: 10px 5px;
}

.elfinder-cwd-wrapper-list {
	padding: 0;
}

.elfinder-cwd {
	position: relative;
	cursor: default;
	padding: 0;
	margin: 0;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.elfinder-cwd-view-icons .elfinder-cwd-file {
	width: 90px;
	height: 80px;
	padding-bottom: 2px;
	cursor: default;
}

.elfinder-ltr .elfinder-cwd-view-icons .elfinder-cwd-file {
    float: left;
    margin: 0 5px 12px;
    background: rgba(0,0,0,0.1);
}

.elfinder-cwd-view-icons .elfinder-cwd-file:hover {
	background: rgba(0, 0, 0, 0.2);
}

.elfinder-cwd-view-icons .elfinder-cwd-file.ui-selected {
	background: rgba(0, 0, 0, 0.3);
}

.elfinder-cwd table .ui-selected {
	background: rgba(255,255,255,0.3) !important;
}



.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
	width: 52px;
	height: 52px;
	margin: 1px auto;
	padding: 2px;
	position: relative;
}

.elfinder-cwd-filename {
	color: #fff;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename {
	text-align: center;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin: 8px 0px 0;
	padding: 1px 3px;
	font-size: 12px;
	background: rgba(0,0,0,0.25);
	text-shadow: none;
	
}

.elfinder-cwd-filename input {
	color: #333;
}

.elfinder-cwd-view-icons .elfinder-perms {
	bottom: 4px;
	right: 2px;
}

.elfinder-cwd-view-icons .elfinder-symlink {
	bottom: 6px;
	left: 0;
}

.elfinder-cwd-icon {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.9;
}

.elfinder-cwd .elfinder-droppable-active .elfinder-cwd-icon {
	border: 2px dashed #000;
	opacity: 0.5;
	border-radius: 10px;
}

.elfinder-navbar-wrapper .elfinder-droppable-active {
	opacity: 0.5;
}


.elfinder-cwd-icon-directory {
	background: url(../img/filemanager/icon/folder.png) center no-repeat;
}

.elfinder-cwd-icon-application {
	background: url(../img/filemanager/icon/exe.png) center no-repeat;
}

.elfinder-cwd-icon-x-empty,.elfinder-cwd-icon-text,
.elfinder-cwd-icon-vnd-oasis-opendocument-text,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-master,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-template,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-web {
	background: url(../img/filemanager/icon/txt.png) center no-repeat;
}

.elfinder-cwd-icon-vnd-adobe-photoshop,.elfinder-cwd-icon-postscript, .elfinder-cwd-icon-image {
	background: url(../img/filemanager/icon/psd.png) center no-repeat;
	margin-top: 4px;
}

.elfinder-cwd-icon-audio {
	background: url(../img/filemanager/icon/mp3.png) center no-repeat;
}

.elfinder-cwd-icon-video {
	background: url(../img/filemanager/icon/video.png) center no-repeat;
}


.elfinder-cwd-icon-flash-video, .elfinder-cwd-icon-x-shockwave-flash {
	background: url(../img/filemanager/icon/flash.png) center no-repeat;
}

.elfinder-cwd-icon-rtf,.elfinder-cwd-icon-rtfd {
	background-position: 0 -401px;
}

.elfinder-cwd-icon-pdf {
	background: url(../img/filemanager/icon/pdf.png) center no-repeat;
}

.elfinder-cwd-icon-ms-excel,
.elfinder-cwd-icon-vnd-ms-excel,
.elfinder-cwd-icon-vnd-ms-excel-addin-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-sheet-binary-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-sheet-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-template-macroEnabled-12,
.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet,
.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet-template,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-template {
	background: url(../img/filemanager/icon/xls.png) center no-repeat;
}

.elfinder-cwd-icon-msword, 
.elfinder-cwd-icon-vnd-ms-office,
.elfinder-cwd-icon-vnd-ms-word,
.elfinder-cwd-icon-vnd-ms-word-document-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-word-template-macroEnabled-12,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-document,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-template {
	background: url(../img/filemanager/icon/doc.png) center no-repeat;
}

.elfinder-cwd-icon-vnd-ms-powerpoint,
.elfinder-cwd-icon-vnd-ms-powerpoint-addin-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-presentation-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-slide-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-slideshow-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-template-macroEnabled-12,
.elfinder-cwd-icon-vnd-oasis-opendocument-presentation,
.elfinder-cwd-icon-vnd-oasis-opendocument-presentation-template,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-presentation,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slide,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slideshow,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-template {
	background: url(../img/filemanager/icon/ppt.png) center no-repeat;
}

.elfinder-cwd-icon-html {
	background: url(../img/filemanager/icon/html.png) center no-repeat;
}

.elfinder-cwd-icon-css {
	background: url(../img/filemanager/icon/css.png) center no-repeat;
}

.elfinder-cwd-icon-javascript,.elfinder-cwd-icon-x-javascript {
	background: url(../img/filemanager/icon/js.png) center no-repeat;
}

.elfinder-cwd-icon-x-perl {
	background: url(../img/filemanager/icon/perl.png) center no-repeat;
}

.elfinder-cwd-icon-x-python {
	background: url(../img/filemanager/icon/py.png) center no-repeat;
}

.elfinder-cwd-icon-x-php {
	background: url(../img/filemanager/icon/php.png) center no-repeat;
}

.elfinder-cwd-icon-xml {
	background: url(../img/filemanager/icon/xml.png) center no-repeat;
}

.elfinder-cwd-icon-zip,.elfinder-cwd-icon-x-zip,.elfinder-cwd-icon-x-7z-compressed {
	background: url(../img/filemanager/icon/zip.png) center no-repeat;
}


.elfinder-cwd-icon-x-rar, .elfinder-cwd-icon-x-bzip,.elfinder-cwd-icon-x-bzip2, .elfinder-cwd-icon-x-rar-compressed, .elfinder-cwd-icon-x-gzip,.elfinder-cwd-icon-x-tar,  {
	background: url(../img/filemanager/icon/rar.png) center no-repeat;
}

.elfinder-cwd-icon-unknown {
	background: url(../img/filemanager/icon/file.png) center no-repeat;
}

.elfinder-cwd input {
	width: 100%;
	border: 0 solid;
	margin: 0;
	padding: 0;
}

.elfinder-cwd-view-icons input,.elfinder-cwd-view-icons {
	text-align: center;
}

.elfinder-cwd table {
	width: 100%;
	border-collapse: collapse;
	border: 0 solid;
	margin: 0 0 10px;
}

.elfinder .elfinder-cwd table thead tr {
	border-left: 0 solid;
	border-top: 0 solid;
	border-right: 0 solid;
}

.elfinder .elfinder-cwd table td {
	padding: 3px 12px;
	white-space: pre;
	overflow: hidden;
	text-align: right;
	cursor: default;
	border: 0 solid;
	font-weight: normal;
}

.elfinder-ltr .elfinder-cwd table td {
	text-align: right;
}

.elfinder-ltr .elfinder-cwd table td:first-child {
	text-align: left;
}

.elfinder-odd-row {
	background: #eee;
}

.elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
	width: 97%;
	position: relative;
}

.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
	padding-left: 23px;
}

.elfinder-cwd-view-list .elfinder-perms,.elfinder-cwd-view-list .elfinder-symlink {
	top: 50%;
	margin-top: -6px;
}

.elfinder-ltr .elfinder-cwd-view-list .elfinder-perms {
	left: 7px;
}

.elfinder-ltr .elfinder-cwd-view-list .elfinder-symlink {
	left: -7px;
}

.elfinder-cwd-view-list td .elfinder-cwd-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background-size: 17px;
}

.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-icon {
	left: -4px;
}

.std42-dialog {
	padding: 0;
	position: absolute;
	left: auto;
	right: auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	background: rgba(0, 0, 0, 0.91);
}

.std42-dialog .ui-dialog-titlebar-close {
	float: right;
	opacity: .3;
	font-size: 16px;
}

.std42-dialog .ui-dialog-titlebar-close:hover {
	opacity: 1;
}

.std42-dialog .ui-dialog-content {
	padding: .3em .5em;
}

.elfinder-dialog .ui-resizable-e,.elfinder-dialog .ui-resizable-s {
	width: 0;
	height: 0;
}

.std42-dialog .ui-button input {
	cursor: pointer;
}


.elfinder-dialog-error .ui-dialog-content,.elfinder-dialog-confirm .ui-dialog-content {
	padding: 15px;
	min-height: 35px;
}

.elfinder-dialog-notify .ui-dialog-titlebar-close, .elfinder-dialog-notify  {
	display: none;
}

.elfinder-dialog-notify .ui-dialog-content {
	padding: 0;
}

.elfinder-notify {
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: .5em;
	text-align: center;
	overflow: hidden;
}

.elfinder-notify:last-child {
	border: 0 solid;
}

.elfinder-notify-progressbar {
	width: 180px;
	margin: 5px auto;
	overflow: hidden;
	padding: 1px;
}

.elfinder-notify-progress {
	width: 100%;
	height: 8px;
	background: url(../img/filemanager/progress.html) center center repeat-x;
}

.elfinder-info-title .elfinder-cwd-icon {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 1em;
}

.elfinder-info-title strong {
	display: block;
	padding: .3em 0 .5em;
}

.elfinder-info-tb {
	min-width: 200px;
	border: 0 solid;
	margin: 1em .2em;
}

.elfinder-info-tb td {
	white-space: nowrap;
	padding: 2px;
}

.elfinder-info-tb tr td:first-child {
	text-align: right;
}

.elfinder-info-tb span {
	float: left;
}

.elfinder-info-tb a {
	outline: none;
	text-decoration: underline;
}

.elfinder-info-tb a:hover {
	text-decoration: none;
}

.elfinder-info-spinner {
	width: 14px;
	height: 14px;
	float: left;
	background: url("../img/filemanager/spinner-mini.gif") center center no-repeat;
	margin: 0 5px;
	background-size: 14px;
}

.elfinder-netmount-tb {
	margin: 0 auto;
}

.elfinder-netmount-tb input {
	border: 1px solid #ccc;
}

.elfinder-upload-dropbox {
	text-align: center;
	padding: 2em 0;
	border: 3px dashed #aaa;
}

.elfinder-upload-dropbox.ui-state-hover {
	background: #dfdfdf;
	border: 3px dashed #555;
}

.elfinder-upload-dialog-or {
	margin: .3em 0;
	text-align: center;
}

.elfinder-upload-dialog-wrapper {
	text-align: center;
}

.elfinder-upload-dialog-wrapper .ui-button {
	position: relative;
	overflow: hidden;
}

.elfinder-upload-dialog-wrapper .ui-button form {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.elfinder-upload-dialog-wrapper .ui-button form input {
	padding: 0 20px;
}

.dialogelfinder .dialogelfinder-drag {
	border-left: 0 solid;
	border-top: 0 solid;
	border-right: 0 solid;
	font-weight: 400;
	padding: 2px 12px;
	cursor: move;
	position: relative;
	text-align: left;
}



.dialogelfinder-drag-close {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.elfinder-ltr .dialogelfinder-drag-close {
	right: 12px;
}

.std42-dialog .ui-dialog-titlebar {
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	padding: 10px 13px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.11);
	cursor: move;
}

.elfinder .elfinder-navbar {
	width: 230px;
	padding: 10px 0;
	background-image: none;
	border-top: 0 solid;
	border-bottom: 0 solid;
	overflow: auto;
	display: none;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-right: 1px solid rgba(255,255,255,0.15);
}

.elfinder-ltr .elfinder-navbar {
	float: left;
	border-left: 0 solid;
}

.elfinder-ltr .ui-resizable-e {
	margin-left: 10px;
}

.elfinder-tree {
	display: table;
	width: 100%;
	margin: 0 0 .5em;
}

.elfinder-navbar-dir {
	position: relative;
	display: block;
	white-space: nowrap;
	padding: 3px 12px 2px;
	margin: 0;
	outline: 0 solid;
	border: 1px solid transparent;
	cursor: default;
}

.elfinder-ltr .elfinder-navbar-dir {
	padding-left: 52px;
}

.elfinder-ltr .elfinder-navbar-dir:hover {
	cursor: pointer;
}

.elfinder-navbar-arrow {
	width: 12px;
	height: 14px;
	position: absolute;
	display: none;
	top: 6px;
	left: 14px;
	background-image: url("../img/filemanager/arrows.png");
	background-repeat: no-repeat;
}

.elfinder-navbar-collapsed .elfinder-navbar-arrow {
	display: block;
}

.elfinder-navbar-expanded .elfinder-navbar-arrow {
	background-position: 0 -29px;
	left: 13px;
	top: 2px;
}

.ui-dialog-buttonpane .btn {
	margin-right: 3px;
}

.elfinder-navbar-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	background-image: url(../img/icon/folder-sm.png);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.elfinder-ltr .elfinder-navbar-icon {
	left: 28px;
}

.elfinder-navbar-subtree {
	display: none;
}

.elfinder-ltr .elfinder-navbar-subtree {
	margin-left: 12px;
}

.elfinder-navbar-spinner {
	width: 14px;
	height: 14px;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -7px;
	background: url("../img/filemanager/spinner-mini.gif") center center no-repeat;
}

.elfinder-ltr .elfinder-navbar-spinner {
	left: 0;
	margin-left: -2px;
}

.elfinder-navbar .elfinder-perms {
	top: 50%;
	margin-top: -8px;
}

.elfinder-ltr .elfinder-navbar .elfinder-perms {
	left: 18px;
}

.elfinder-ltr .elfinder-navbar .elfinder-symlink {
	left: 8px;
}

.elfinder-navbar .ui-resizable-handle {
	width: 8px;
	left: 0;
	position: absolute;
	height: 100%;
	cursor: e-resize;
}

.elfinder-nav-handle-icon {
	position: absolute;
	top: 50%;
	margin: -8px 2px 0;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

.elfinder-places {
	border: 1px solid transparent;
}

.elfinder-quicklook {
	position: absolute;
	background: #333;
	background: rgba(0,0,0,0.9);
	display: none;
	overflow: hidden;
	padding: 20px 0 40px;
	border-radius: 3px;
}

.elfinder-quicklook .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 5px;
	bottom: 3px;
	background: url(../img/filemanager/resize-preview.png) no-repeat center;
	position: absolute;
}

.elfinder-quicklook-fullscreen {
	-webkit-background-clip: padding-box;
	padding: 0;
	background: #000;
	z-index: 90000;
	display: block;
}

.elfinder-quicklook-fullscreen .elfinder-quicklook-titlebar {
	display: none;
}

.elfinder-quicklook-fullscreen .elfinder-quicklook-preview {
	border: 0 solid;
}

.elfinder-quicklook-titlebar {
	text-align: center;
	background: #383838;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 20px;
	cursor: move;
}

.elfinder-quicklook-title {
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	padding: 2px 0;
}

.elfinder-quicklook-titlebar .ui-icon {
	position: absolute;
	right: 3px;
	top: 1px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.elfinder-quicklook-titlebar .ui-icon:before {
	content: "\f00d";
	font-family: FontAwesome;
	font-size: 10px;
	color: #797979;
}

.elfinder-quicklook-preview {
	overflow: hidden;
	position: relative;
	border: 0 solid;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	height: 100%;
}

.elfinder-quicklook-info-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -50px;
}

.elfinder-quicklook-info {
	padding: 0 12px 0 112px;
}

.elfinder-quicklook-info .elfinder-quicklook-info-data:first-child {
	color: #fff;
	font-weight: 700;
	padding-bottom: .5em;
}

.elfinder-quicklook-info-data {
	padding-bottom: .2em;
	color: #fff;
}

.elfinder-quicklook .elfinder-cwd-icon {
	position: absolute;
	left: 32px;
	top: 50%;
	margin-top: -20px;
}

.elfinder-quicklook-preview img {
	display: block;
	margin: 0 auto;
}

.elfinder-quicklook-navbar {
	position: absolute;
	left: 50%;
	bottom: 4px;
	width: 140px;
	height: 32px;
	padding: 0;
	margin-left: -70px;
	border: 1px solid transparent;
}

.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar {
	width: 188px;
	margin-left: -94px;
	padding: 4px 5px 0px;
	border: 1px solid #eee;
	background: #000;
	height: 40px;
	overflow: hidden;
}


.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-icon-close,.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-separator {
	display: inline;
}

.elfinder-quicklook-navbar-icon {
	width: 32px;
	height: 32px;
	margin: 0 7px;
	float: left;
	background: url("../img/filemanager/quicklook-icons.png") 0 0 no-repeat;
}

.elfinder-quicklook-navbar-icon-next {
	background-position: 0px -32px;
}

.elfinder-quicklook-navbar-icon-fullscreen {
	background-position: 0px -64px;
}

.elfinder-quicklook-navbar-icon-fullscreen-off {
	background-position: 0px -96px;
}

.elfinder-quicklook-navbar-icon-close {
	display: none;
}

.elfinder-quicklook-navbar-separator {
	width: 1px;
	height: 32px;
	float: left;
	border-left: 1px solid #fff;
	display: none;
}

.elfinder-quicklook-preview-text-wrapper {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #222;
	overflow: auto;
}

pre.elfinder-quicklook-preview-text {
	margin: 0;
	padding: 3px 9px;
}

.elfinder-quicklook-preview-html,.elfinder-quicklook-preview-pdf {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 0 solid;
	margin: 0;
}

.elfinder-quicklook-preview-flash {
	width: 100%;
	height: 100%;
}

.elfinder-quicklook-preview-audio {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

embed.elfinder-quicklook-preview-audio {
	height: 30px;
	background: 0 0;
}

.elfinder-quicklook-preview-video {
	width: 100%;
	height: 100%;
}

.elfinder-statusbar {
	text-align: center;
	font-weight: 400;
	padding: .2em .5em;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
}

.elfinder-statusbar a {
	text-decoration: none;
}

.elfinder-path {
	max-width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.elfinder-ltr .elfinder-path {
	float: left;
}


.elfinder-stat-size {
	white-space: nowrap;
}

.elfinder-ltr .elfinder-stat-size {
	float: right;
}

.elfinder-stat-selected {
	white-space: nowrap;
	overflow: hidden;
}

.elfinder-toolbar {
	border-bottom: 1px solid rgba(255,255,255,0.15);
	height: 50px !important;
	padding: 7px 10px 0 12px;
}

.elfinder-buttonset {
	margin: 0 10px 0 0;
	float: left;
	background: 0 0;
	padding: 0;
}

.elfinder .elfinder-button {
	padding: 4px;
	float: left;
	position: relative;
	cursor: pointer;
}

.elfinder .elfinder-button:hover {
	background: rgba(0, 0, 0, 0.15);
}

.elfinder-button.ui-state-disabled:hover {
	background: none;
	cursor: default;
}

.elfinder .ui-icon-search {
	cursor: pointer;
}

.elfinder-button:first-child {

}

.elfinder-button:last-child {

}

.elfinder-toolbar-button-separator {
	float: left;
	padding: 0;
	height: 24px;
	border-top: 0 solid;
	border-right: 0 solid;
	border-bottom: 0 solid;
	width: 0;
}

.elfinder .elfinder-button.ui-state-disabled {
	opacity: 1;
	filter: Alpha(Opacity=100);
}

.elfinder .elfinder-button.ui-state-disabled .elfinder-button-icon, .ui-state-disabled {
	opacity: .2;
	filter: Alpha(Opacity=20);
}


.elfinder-button-icon {
	width: 25px;
	height: 25px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
}

.elfinder-button-icon-home {
	background-image: url(../img/icon/home.png);
}

.elfinder-button-icon-back {
	background-image: url(../img/icon/back.png);
}

.elfinder-button-icon-forward {
	background-image: url(../img/icon/forwad.png);
}

.elfinder-button-icon-back, .elfinder-button-icon-forward {
	width: 20px;
}

.elfinder-button-icon-reload {
	background-image: url(../img/icon/refresh.png);
}

.elfinder-button-icon-open {}

.elfinder-button-icon-mkdir {
	background-image: url(../img/icon/folder.png);
}

.elfinder-button-icon-mkfile {
	background-image: url(../img/icon/file.png);
}

.elfinder-button-icon-upload {
	background-image: url(../img/icon/upload.png);
}

.elfinder-button-icon-view {
	background-image: url(../img/icon/icon-view.png);
}

.elfinder-button-icon-view-list {
	background-image: url(../img/icon/list-view.png);
}

.elfinder-button-icon-resize.elfinder-contextmenu-icon, .elfinder-button-icon-resize.elfinder-contextmenu-icon + span {
	display: none !important;
}

.elfinder-button-icon-sort {
	background-image: url(../img/icon/sorting.png);
}

.elfinder .elfinder-menubutton {
	overflow: visible;
}

.elfinder-button-menu {
	position: absolute;
	left: 0;
	top: 25px;
	padding: 3px 0;
}

.elfinder-button-menu, .elfinder-contextmenu {
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.elfinder-button-menu-item, .elfinder-contextmenu-item {
	padding: 3px 12px;
	position: relative;
	min-width: 130px;
	cursor: pointer;
}

.elfinder-button-menu .ui-state-hover {
	border: 0 solid;
}

.elfinder-button-menu-item-separated {
	border-top: 1px solid #ccc;
}

.elfinder-button-menu-item .ui-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -8px;
	display: none;
}

.elfinder-button-menu-item-selected .ui-icon {
	display: block;
}

.elfinder-button-menu-item-selected-asc .ui-icon-arrowthick-1-n,.elfinder-button-menu-item-selected-desc .ui-icon-arrowthick-1-s {
	display: none;
}

.elfinder-button form {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	filter: Alpha(Opacity=0);
	cursor: pointer;
}

.elfinder .elfinder-button form input {
	background: 0 0;
	cursor: default;
	height: 28px;
	cursor: pointer;
	width: 30px;
}

.elfinder .elfinder-button-search {
	border: 0 solid;
	background: 0 0;
	padding: 0;
	float: right;
}

.elfinder-button-search:hover {
	background: none !important;
}

.elfinder-ltr .elfinder-button-search {
	float: right;
	margin-right: 3px;
}

.file-search {
	height: 27px;
	margin-top: 4px;
	background: transparent;
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 0 5px;
}

.elfinder-button-search .ui-icon {
	position: absolute;
	height: 18px;
	top: 50%;
	margin: -9px 4px 0;
}

.elfinder-button-search .ui-icon.icon-close {
	font-size: 15px;
	top: 16px;
	right: 24px;
	opacity: 0.8;
}

.elfinder-ltr .elfinder-button-search .ui-icon-search {
	right: 0;
	width: 23px;
	height: 27px;
	text-align: center;
	padding-top: 1px;
	top: 13px;
	background: url(../img/icon/search-sm.png) no-repeat center;
}

.elfinder-ltr .elfinder-navbar-dir:hover {
	background: rgba(255, 255, 255, 0.15);
}

.elfinder-navbar .ui-state-active, .elfinder-navbar .ui-state-active:hover {
	background: rgba(0,0,0,0.15);
}

.elfinder-cwd table thead {
	font-weight: bold;
}

.elfinder-cwd table tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

.elfinder .elfinder-statusbar {
	border-top: 1px solid rgba(255,255,255,0.15);
	font-size: 12px;
	padding: 3px 12px;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.elfinder .elfinder-statusbar a {
	text-decoration:none;
}

.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content {
	background:#fff;
}

/* Icons for Higher DPI */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.elfinder-button-icon-home {
		background-image: url(../img/icon/home.png);
		background-size: 25px 25px;
	}
	
	.elfinder-button-icon-back {
		background-image: url(../img/icon/back_2x.png);
		background-size: 12px 20px;
	}
	
	.elfinder-button-icon-forward {
		background-image: url(../img/icon/forwad_2x.png);
		background-size: 12px 20px;
	}
	
	.elfinder-button-icon-reload {
		background-image: url(../img/icon/refresh_2x.png);
		background-size: 18px 19px;
	}
		
	.elfinder-button-icon-mkdir {
		background-image: url(../img/icon/folder_2x.png);
		background-size: 23px 21px;
	}
	
	.elfinder-button-icon-mkfile {
		background-image: url(../img/icon/file_2x.png);
		background-size: 19px 21px;
	}
	
	.elfinder-button-icon-upload {
		background-image: url(../img/icon/upload_2x.png);
		background-size: 19px 21px;
	}
	
	.elfinder-button-icon-view {
		background-image: url(../img/icon/icon-view_2x.png);
		background-size: 20px 20px;
	}
	
	.elfinder-button-icon-view-list {
		background-image: url(../img/icon/list-view_2x.png);
		background-size: 20px 20px;
	}

	.elfinder-button-icon-sort {
		background-image: url(../img/icon/sorting_2x.png);
		background-size:  19px 19px;
	}
	
	.elfinder-navbar-icon {
		background-image: url(../img/icon/folder-sm_2x.png);
		background-size: 16px 14px;
	}
	
	.elfinder-ltr .elfinder-button-search .ui-icon-search {
		background: url(../img/icon/search.png) no-repeat center;
		background-size: 14px 14px;
	}
}

/* Media Queries */
@media (max-width: 992px) and (min-width: 850px) {
	.elfinder-button-search input {
		width: 200px;
	}
}

@media (min-width: 850px) {
    .file-manager {
        min-height: 500px;
    }
}

@media (max-width: 849px) {
	.elfinder-ltr .elfinder-button-search {
		width: 100%;
		margin-right: 1px;
		margin-bottom: 4px;
	}
	
	.elfinder-button-search input {
		width: 100%;
		
	}
	
	.elfinder-toolbar {
		height: auto !important;
		display: inline-block;
		min-height: 80px;
		text-align: center;
		width: 100%;
	}
	
	.elfinder-buttonset {
		float: none;
		display: inline-block;
	}
	
	.elfinder-ltr .elfinder-navbar {
		display: none !important;
	}
}