{% extends 'layouts/default.html' %}

{% block page_title %}Person - Mediatheque{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="media message-header o-visible">
    <img src="/kimino/img/profile-pics/6.jpg" alt="" class="pull-left" width="40">
    <div class="pull-right dropdown m-t-10">
        <a href="#" data-toggle="dropdown" class="p-5">Options</a>
        <ul class="dropdown-menu text-right">
            <li><a href="#">Reply</a></li>
            <li><a href="#">Forward</a></li>
            <li><a href="#">Mark as Spam</a></li>
        </ul>
    </div>
    <div class="media-body">
        <span class="f-bold pull-left m-b-5">Malinda Hollaway</span>
        <div class="clearfix"></div>
        <span class="dropdown m-t-5">
            To <a href="#" class="underline">Me</a> on 12th February 2014
        </span>
    </div>
</div>

<div class="p-15">
    <p>Hi Wendy,</p>
    <p>Morbi dignissim tortor urna, eget feugiat ipsum rutrum et. Aenean sem nisi, ultricies vel lorem nec, blandit venenatis tellus. Donec accumsan, turpis vel euismod ultrices, massa quam ultricies turpis, non pretium dolor nulla sit amet sem. Ut vel blandit sem, vitae tristique tellus. Suspendisse odio ligula, feugiat eu velit in, mattis pharetra libero. Nunc ac tincidunt nibh. Nullam mauris urna, elementum ac odio et, condimentum suscipit orci. Nulla pellentesque a magna et pellentesque. Suspendisse euismod convallis nisi sed placerat.</p>
    <p>Morbi imperdiet tempor velit, sed sagittis ipsum. In gravida, enim ac commodo congue, purus augue faucibus tellus, vel tempus sapien enim eget urna. Mauris molestie fringilla orci, et scelerisque sem dapibus convallis. In ut erat quam. Donec facilisis ipsum ac nulla lobortis.</p>
    <p>Regards,<br/> Malinda Hollaway</p>
</div>

<hr class="whiter">
<div class="p-15">
    <p>3 Attachements - <a class="underline" href="#">Download all as ZIP</a></p>
    
    <a class="message-attachement news tile" href="#">
        <img src="/kimino/img/filemanager/icon/doc.png" alt="Meeting Agenda.doc">
        <br/>
        <small class="t-overflow">Meeting Agenda.doc</small>
    </a>
    <a class="message-attachement news tile" href="#">
        <img src="/kimino/img/profile-pics/6.jpg" alt="Profile Picture.jpg">
        <br/>
        <small class="t-overflow">Profile Picture.jpg</small>
    </a>
    <a class="message-attachement news tile" href="#">
        <img src="/kimino/img/filemanager/icon/pdf.png" alt="Presentation.pdf">
        <br/>
        <small class="t-overflow">Presentation.pdf</small>
    </a>
</div>    

</div>
{% endblock %}

{% block effects %}
{% endblock %}

{% block plugins %}
{% endblock %}

{% block app_codes %}
<script type="text/javascript">
    $(document).ready(function(){
        //Editor
        $('.message-editor').summernote({
            toolbar: [
              //['style', ['style']], // no style button
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['fontsize', ['fontsize']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              //['height', ['height']],
              ['insert', ['picture', 'link']], // no insert buttons
              //['table', ['table']], // no table button
              //['help', ['help']] //no help button
            ],
            height: 200,
            resizable: false
        }); 
    });
</script>
{% endblock %}

{% block app_style %}
{% endblock %}

