{% extends 'layouts/default.html' %}

{% block page_title %}Records - Listing{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="listview list-container">
    <header class="listview-header media">
        <input type="checkbox" class="pull-left list-parent-check" value="">
            
        <ul class="list-inline pull-right m-t-5 m-b-0">
            <li class="pagin-value hidden-xs">35-70</li>
            <li>
                <a href="#" title="Previous" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Next" class="tooltips">
                    <i class="sa-list-forwad"></i>
                </a>
            </li>
        </ul>
        
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="#compose-message" title="Add" class="tooltips">
                    <i class="sa-list-add"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Refresh" class="tooltips">
                    <i class="sa-list-refresh"></i>
                </a>
            </li>
            <li class="show-on" style="display: none;">
                <a href="#" title="Move" class="tooltips">
                    <i class="sa-list-move"></i>
                </a>
            </li>
            <li class="show-on" style="display: none;">
                <a href="#" title="Delete" class="tooltips">
                    <i class="sa-list-delete"></i>
                </a>
            </li>
        </ul>

        <input class="input-sm col-md-4 pull-right message-search" type="text" placeholder="Search....">
        
        <div class="clearfix"></div>
    </header>
                        
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam
            <div class="list-options">
                <button class="btn btn-sm">View</button>
                <button class="btn btn-sm">Delete</button>
            </div>
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Nulla vel metus scelerisque ante sollicitudin commodo purus odio
            <div class="clearfix"></div>
            <div class="attrs">Date Created: 09/06/1988</div>
            <div class="block attrs">Members: 78954</div>
            <div class="block attrs">Published: No</div>
            
            <div class="list-options">
                <button class="btn btn-sm">View</button>
                <button class="btn btn-sm">Delete</button>                                
            </div>
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam
            <div class="clearfix"></div>
            <small> An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small><br>
            <div class="block attrs">
                Date Created: 25/12/2012
            </div>
            <div class="block attrs">
                Members: 3978
            </div>
            <div class="block attrs">
                Published: Yes
            </div>
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Inermis patrioque temporibus at ius, eos ei case partem blandit<br>
            <small> An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Eam utamur ceteros ei, per no feugiat saperet omittantur. Qui et erant nonumes abhorreant, eirmod omnium.
            <div class="clearfix"></div>
            <small>Lorem ipsum dolor sit amet, per cu solet docendi</small>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <img class="media-object pull-left" src="/kimino/img/profile-pics/1.jpg" alt="" width="45">
        <div class="media-body">
            Nulla vel metus scelerisque ante sollicitudin commodo purus odio.
            <div class="clearfix"></div>
            <small>Lorem ipsum dolor sit amet, per cu solet docendi</small>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <img class="media-object pull-left" src="/kimino/img/profile-pics/5.jpg" alt="" width="45">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam, te vix ipsum quando facilisis, admodum eleifend quaerendum sed cu. Sale aperiam oportere has an, mea et commodo alterum perpetua fierent fastidii recteque ad pro. Mei id brute intellegam, vim ea invidunt efficiendi. Copiosae definitiones est ex, no oportere urbanitas elaboraret qui, et dicit sadipscing vel.
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <img class="media-object pull-left" src="/kimino/img/profile-pics/2.jpg" alt="" width="45">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam
            <div class="clearfix"></div>
            <small> An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small><br>
            <div class="block attrs">
                Date Created: 01/01/2013
            </div>
            <div class="block attrs">
                Members: 17580
            </div>
            <div class="block attrs">
                Published: Yes
            </div>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Wel ea elit iuvaret. Mea labitur definitiones ex, id atqui accusata vix, vim nibh mandamus ad
            <div class="clearfix"></div>
            <small>Wendy create ipsum dolor sit amet, per cu solet docendi ntoenstion</small>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam
            <div class="clearfix"></div>
            <small> An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small><br>
            <div class="block attrs">
                Date Created: 18/06/2013
            </div>
            <div class="block attrs">
                Members: 610
            </div>
            <div class="block attrs">
                Published: No
            </div>
        </div>
        <div class="list-options">
            <button class="btn btn-sm">View</button>
            <button class="btn btn-sm">Delete</button>                                
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam
            <div class="list-options">
                <button class="btn btn-sm">View</button>
                <button class="btn btn-sm">Delete</button>
            </div>
        </div>
    </div>
    
    <div class="media">
        <input type="checkbox" class="pull-left list-check" value="">
        <div class="media-body">
            Nulla vel metus scelerisque ante sollicitudin commodo purus odio
            <div class="clearfix"></div>
            <div class="attrs">Date Created: 09/06/1988</div>
            <div class="block attrs">Members: 78954</div>
            <div class="block attrs">Published: No</div>
            
            <div class="list-options">
                <button class="btn btn-sm">View</button>
                <button class="btn btn-sm">Delete</button>                                
            </div>
        </div>
    </div>
    
    <div class="media text-center">
        <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block effects %}
{% endblock %}

{% block plugins %}
{% endblock %}

{% block app_codes %}
{% endblock %}

{% block app_style %}
{% endblock %}

