{% extends 'layouts/default.html' %}

{% block page_title %}Records - Metrics{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="block-area">
    <h3 class="block-title">FLOT CHART</h3>
    
    <div class="tile">
        <h2 class="tile-title">Line Chart</h2>
        <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
            <ul class="dropdown-menu pull-right text-right">
                <li><a href="#">Refresh</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="p-10">
            <div id="line-chart" class="main-chart" style="height: 250px"></div>
        </div>
    </div>
    
    <div class="tile">
        <h2 class="tile-title">Dynamic Chart</h2>
        <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
            <ul class="dropdown-menu pull-right text-right">
                <li><a href="#">Refresh</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="p-10">
            <div id="dynamic-chart" class="main-chart" style="height: 250px"></div>
        </div>
    </div>
    
    <div class="tile">
        <h2 class="tile-title">Bar Chart</h2>
        <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
            <ul class="dropdown-menu pull-right text-right">
                <li><a href="#">Refresh</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="p-10">
            <div id="bar-chart" class="main-chart" style="height: 250px"></div>
        </div>
    </div>


    <!-- Pies -->
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h2 class="tile-title">Pie Chart</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="#">Refresh</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
                <div class="p-10">
                    <div id="pie-chart" class="main-chart" style="height: 300px"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="tile">
                <h2 class="tile-title">Donut Chart</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
                    <ul class="dropdown-menu pull-right text-right">
                        <li><a href="#">Refresh</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
                <div class="p-10">
                    <div id="donut-chart" class="main-chart" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="whiter m-t-20 m-b-20" />

<div class="block-area">
    <h3 class="block-title">EASY PIE CHARTS</h3>
    
    <!-- Easy Pie charts -->
    <div class="tile text-center">
        <div class="tile-dark p-10">
            <div class="pie-chart-tiny" data-percent="86">
                <span class="percent"></span>
                <span class="pie-title">New Visitors <i class="m-l-5 fa fa-retweet"></i></span>
            </div>
            <div class="pie-chart-tiny" data-percent="23">
                <span class="percent"></span>
                <span class="pie-title">Bounce Rate <i class="m-l-5 fa fa-retweet"></i></span>
            </div>
            <div class="pie-chart-tiny" data-percent="57">
                <span class="percent"></span>
                <span class="pie-title">Emails Sent <i class="m-l-5 fa fa-retweet"></i></span>
            </div>
            <div class="pie-chart-tiny" data-percent="34">
                <span class="percent"></span>
                <span class="pie-title">Sales Rate <i class="m-l-5 fa fa-retweet"></i></span>
            </div>
            <div class="pie-chart-tiny" data-percent="81">
                <span class="percent"></span>
                <span class="pie-title">New Signups <i class="m-l-5 fa fa-retweet"></i></span>
            </div>
        </div>
    </div>
</div>

<hr class="whiter m-t-20 m-b-20" />

<div class="block-area">
    <h3 class="block-title">SPARKLINE CHARTS</h3>
    
    <!-- Sparkline -->
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats">
                <div id="stats-line-2" class="pull-left"></div>
                <div class="data">
                    <h2 data-value="98">0</h2>
                    <small>Tickets Today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">
                <div id="stats-line-3" class="pull-left"></div>
                <div class="media-body">
                    <h2 data-value="1452">0</h2>
                    <small>Shipments today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">

                <div id="stats-line-4" class="pull-left"></div>

                <div class="media-body">
                    <h2 data-value="4896">0</h2>
                    <small>Orders today</small>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="tile quick-stats media">
                <div id="stats-line" class="pull-left"></div>
                <div class="media-body">
                    <h2 data-value="29356">0</h2>
                    <small>Site visits today</small>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="whiter m-t-20 m-b-20" />

<div class="block-area">
    <h3 class="block-title">VECTOR MAPS</h3>
    
    <div class="row">
        <!-- World Map -->
        <div class="col-md-8">
            <div class="tile">
                <h2 class="tile-title">World Map</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
                    <ul class="dropdown-menu animated pull-right text-right">
                        <li><a href="#">Refresh</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
                
                <div id="world-map" style="height: 400px"></div>
            </div>
        </div>
        
        <!-- USA Map -->
        <div class="col-md-4">
            <div class="tile">
                <h2 class="tile-title">USA Map with Pointers</h2>
                <div class="tile-config dropdown">
                    <a data-toggle="dropdown" href="#" class="tooltips tile-menu" title="Options"></a>
                    <ul class="dropdown-menu animated pull-right text-right">
                        <li><a href="#">Refresh</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
                
                <div id="usa-map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block effects %}
{% endblock %}

{% block plugins %}
{% endblock %}

{% block app_codes %}
{% endblock %}

{% block app_style %}
{% endblock %}

