{% extends 'layouts/default.html' %}

{% block page_title %}Landing{% endblock %}

{% block breadcrumb %}
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
{% endblock %}

{% block content %}
    <div class="block-area shortcut-area">
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/money.png" alt="">
            <small class="t-overflow">Purchases</small>
        </a>
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/twitter.png" alt="">
            <small class="t-overflow">Tweets</small>
        </a>
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/calendar.png" alt="">
            <small class="t-overflow">Calendar</small>
        </a>
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/stats.png" alt="">
            <small class="t-overflow">Statistics</small>
        </a>
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/connections.png" alt="">
            <small class="t-overflow">Connection</small>
        </a>
        <a class="shortcut tile" href="#">
            <img src="/kimino/img/shortcuts/reports.png" alt="">
            <small class="t-overflow">Reports</small>
        </a>
    </div>
    <hr class="whiter" />
{% include 'widget/quick-stats.html' %}
    </div>
    <hr class="whiter" />
{% include 'widget/statistics.html' %}
    <hr class="whiter" />
{% include 'widget/chat-lobby.html' %}
    <hr class="whiter" />
{% endblock %}

{% block app_codes %}
{% endblock %}

{% block app_style %}
{% endblock %}

