<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
            
        <link href="/kimino/css/bootstrap.min.css" rel="stylesheet">
        <link href="/kimino/css/animate.min.css" rel="stylesheet">
        <link href="/kimino/css/font-awesome.min.css" rel="stylesheet">
        <link href="/kimino/css/form.css" rel="stylesheet">
{% block app_design %}
        <link href="/kimino/css/calendar.css" rel="stylesheet">
{% endblock %}
        <link href="/kimino/css/style.css" rel="stylesheet">
        <link href="/kimino/css/icons.css" rel="stylesheet">
        <link href="/kimino/css/generics.css" rel="stylesheet"> 

        <title>{% block page_title %}{% endblock %} [Ronin :: Bushido]</title>

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

{% block app_style %}
{% endblock %}
    </head>
    <body id="skin-blur-violate">
        <header id="header" class="media">
            <a href="#" id="menu-toggle"></a> 
            <a class="logo pull-left" href="/index.html">Ronin :: Bushido</a>
            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="pull-left tm-icon">
                        <a data-drawer="messages" class="drawer-toggle" href="#">
                            <i class="sa-top-message"></i>
                            <i class="n-count animated">5</i>
                            <span>Messages</span>
                        </a>
                    </div>
                    <div class="pull-left tm-icon">
                        <a data-drawer="notifications" class="drawer-toggle" href="#">
                            <i class="sa-top-updates"></i>
                            <i class="n-count animated">9</i>
                            <span>Updates</span>
                        </a>
                    </div>
                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>
                    <div class="media-body">
                        <input type="text" class="main-search">
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <section id="main" class="p-relative" role="main">
            <aside id="sidebar">
                <div class="side-widgets overflow"></div>
                <ul class="list-unstyled side-menu"></ul>
            </aside>
            <section id="content" class="container">
                <div id="messages" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="#">Send a New Message</a>
                            <span class="drawer-close">&times;</span>
                        </div>
                        <div class="overflow" style="height: 254px">
                        </div>
                        <div class="media text-center whiter l-100">
                            <a href="#"><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>
                <div id="notifications" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="#">Notification Settings</a>
                            <span class="drawer-close">&times;</span>
                        </div>
                        <div class="overflow" style="height: 254px"></div>
                        <div class="media text-center whiter l-100">
                            <a href="#"><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>
{% block container %}
                <ol class="breadcrumb hidden-xs">
                    <li><a href="/landing.html">Home</a></li>
{% block breadcrumb %}
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
{% endblock %}
                </ol>
                <h4 class="page-title">DASHBOARD</h4>
{% block content %}
{% endblock %}
{% endblock %}
            </section>

            <!-- Older IE Message -->
            <!--[if lt IE 9]>
                <div class="ie-block">
                    <h1 class="Ops">Ooops!</h1>
                    <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order to access the maximum functionality of this website. </p>
                    <ul class="browsers">
                        <li>
                            <a href="https://www.google.com/intl/en/chrome/browser/">
                                <img src="/kimino/img/browsers/chrome.png" alt="">
                                <div>Google Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.mozilla.org/en-US/firefox/new/">
                                <img src="/kimino/img/browsers/firefox.png" alt="">
                                <div>Mozilla Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com/computer/windows">
                                <img src="/kimino/img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://safari.en.softonic.com/">
                                <img src="/kimino/img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                                <img src="/kimino/img/browsers/ie.png" alt="">
                                <div>Internet Explorer(New)</div>
                            </a>
                        </li>
                    </ul>
                    <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
                </div>   
            <![endif]-->
        </section>
        
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="/kimino/js/jquery.min.js"></script> <!-- jQuery Library -->
        <script src="/kimino/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
        <script src="/kimino/js/jquery.easing.1.3.js"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->

        <!-- Bootstrap -->
        <script src="/kimino/js/bootstrap.min.js"></script>

{% block plugins %}
        <!--  Form Related -->
        <script src="/kimino/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

        <!-- UX -->
        <script src="/kimino/js/scroll.min.js"></script> <!-- Custom Scrollbar -->
{% endblock %}

        <!-- Extending -->
        <script src="/kimino/js/swig.min.js"></script>
        <script src="/kimino/js/vue.min.js"></script>
        
{% block plugins %}
        <!-- Charts -->
        <script src="/kimino/js/charts/jquery.flot.js"></script> <!-- Flot Main -->
        <script src="/kimino/js/charts/jquery.flot.time.js"></script> <!-- Flot sub -->
        <script src="/kimino/js/charts/jquery.flot.animator.min.js"></script> <!-- Flot sub -->
        <script src="/kimino/js/charts/jquery.flot.resize.min.js"></script> <!-- Flot sub - for repaint when resizing the screen -->

        <script src="/kimino/js/sparkline.min.js"></script> <!-- Sparkline - Tiny charts -->
        <script src="/kimino/js/easypiechart.js"></script> <!-- EasyPieChart - Animated Pie Charts -->
        <script src="/kimino/js/charts.js"></script> <!-- All the above chart related functions -->

        <!-- Map -->
        <script src="/kimino/js/maps/jvectormap.min.js"></script> <!-- jVectorMap main library -->
        <script src="/kimino/js/maps/usa.js"></script> <!-- USA Map for jVectorMap -->

        <!-- Other -->
        <script src="/kimino/js/calendar.min.js"></script> <!-- Calendar -->
        <script src="/kimino/js/feeds.min.js"></script> <!-- News Feeds -->
{% endblock %}

        <!-- All JS functions -->
        <script src="/program/spec.js"></script>
        <script src="/program/core.js"></script>
        <script src="/program/mods.js"></script>
        <script src="/program/view.js"></script>
        <script src="/program/apps.js"></script>

{% block app_code %}
        <script type="text/javascript">
        </script>
{% endblock %}
    </body>
</html>

