div.row.marketing {
    margin: 0px;
}

li.nav-item {
    margin-left: 4px;
}

input.import-csv {
    display: none;
}

.profiles-list {
    list-style: none;
}

.profiles-list li.placeholder {
    position: relative;
    /** More li styles **/
}
.profiles-list li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

.profiles-list li.panel {
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
    background-color: #e9e9e9;
}

.profiles-list .panel-title span.clickable{
    border-radius: 10px;
    border: solid 1px black;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 2px;
    background-color: white;
}

.profiles-list .panel-title span.move-profile {
    padding-left: 1px;
    color: blue;
}
.profiles-list .panel-title span.edit-profile {
    padding-left: 2px;
    padding-top: 1px;
    color: green;
}
.profiles-list .panel-title span.remove-profile {
    padding-left: 4px;
    color: red;
}

.profiles-list .panel-body .description {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

.profiles-list .panel-body span.field-price {
    font-size: large;
    border: solid 2px grey;
}

.profiles-list .panel-body .features {
    border: none; /* solid 1px black; */
}

.titleBlock {
    font-size: x-large;
}

